body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    background-color: #00B3D4;
}
    .container {
        display: inline-block;
        width: 750px;
        margin-top: 150px;
        margin-left: calc((100% - 750px) / 2);
    }
        .left-column {
            display: inline-block;
            width: 40%;
            float: left;
            padding: 60px;
            background-color: #3F36A7;
            margin-top: 40px;
        }
            .title {
                display: inline-block;
                float: left;
                height: 300px;
                font-size: 35px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: #ffff;
                margin-right: 35px;

                
                

            }
            .footer {
                display: inline-block;
                width: 250px;
                margin: 0;
                height: 1px;
                font-size: 15px;
                margin-right: 20px;
                
            }
                .link {
                    display: inline-block;
                    color: white;

                }
                .ampersand {
                    display: inline-block;
                    
                }

        .right-column {
            display: inline-block;
            width: 60%;
            margin: 0;
            float: left;
            padding: 90px;
            background-color: #fff;
        
        }
        form {
            width: 250px;
            padding: 50px;
            float: left;
            box-sizing: border-box;
            
            
            
            
        
        }
        footer {
            display: inline-block;
            width: 150px;  
            float: left;
            margin: 0;
            margin-top: 25px;
            
            
            
            
            
            
        }
        
        a {
            display: inline-block;
            height: 5px;
            
            
        
            
        }
        
        p {
            display: inline-block;
            height: 5px;
        }

      a {
        display: inline-block;
        height: 5px;
      }